#img{
        border-radius: 30px;
       border: solid #CAE5FF;
}

img{
        width: 100px;
        border-radius: 50%;
        background-color: #CAE5FF;
        border: solid;
}

body {
        background-color: #08080A;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Alinha os itens verticalmente */
        align-items: center; /* Alinha os itens horizontalmente */
        height: 100vh; /* Altura total da viewport */
        margin: 0; /* Remove margens padrão */
        padding: 0; /* Remove preenchimento padrão */
        color: #CAE5FF;
        font-family:'Courier New', Courier, monospace;
}
div{
        background-color: #18181F;
        padding: 10px 200px 10px 10px; 
        margin: 10px;
        display: flex;
        border-radius: 20px;
        align-items: center;
}
div p{
        margin-left: 20px;
}
nav{
        background-color: #0C0C0F;
        border-radius: 30px;
        text-align: center;
        padding: 20px;
}
h3{
        color: #65743A;
}
